.boton-1 {
    border: 2px solid #016add;
    background-color: transparent;
    color: #016add;
    font-weight: 500;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-1:hover {
    background-color: #016add;
    color: #fff;
    transform: scale(1.05);
}

body.dark .boton-1 {
    border: 2px solid #4ea1ff;
    background-color: #c5c5c525;
    color: #4ea1ff;
}

body.dark .boton-1:hover {
    background-color: #4ea1ff;
    color: #fff;
}

.boton-2 {
    background-color: #016add;
    color: #fff;
    border: 2px solid #016add;
    font-weight: 500;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-2:hover {
    background-color: #014bb5;
    border-color: #014bb5;
    transform: scale(1.05);
}

.boton-atras {
    position: fixed;
    top: 13vh;
    left: 2vw;

    width: 70px;
    height: 40px;
    padding: 10px;

    background-color: #fff;
    color: #016add;

    border: 1px solid #016add;
    border-radius: 7px;

    cursor: pointer;
    z-index: 1000;

    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease;
}

.boton-atras:hover {
    background-color: #016add;
    color: #fff;
}

.boton-atras:active {
    transform: scale(1.1);
}

.boton-atras:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(1, 106, 221, 0.3);
}


body.dark .boton-atras {
    background-color: #1e1e1e;
    border: 1px solid #4ea1ff;
    color: #4ea1ff
}

body.dark .boton-atras:hover {
    background-color: #4ea1ff;
    color: #fff;
}