
.boton-1 {
    border: 2px solid #016add;
    background-color: transparent;
    color: #016add;
    font-weight: 500;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-1:hover {
    background-color: #016add;
    color: #fff;
    transform: scale(1.05);
}


.boton-2 {
    background-color: #016add;
    color: #fff;
    border: 2px solid #016add;
    font-weight: 500;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-2:hover {
    background-color: #014bb5;
    border-color: #014bb5;
    transform: scale(1.05);
}

